.header-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.home-button-login {
    position: absolute;
    right: 10%;
    top: 50%;
}

.main-login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

